.home.page {
  background-color: #000249;
}

.body,
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 220px;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 62px;
}

.header-menu a {
  font-family: "Fira Code", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.24px;
  color: #faf9f0;
}

.header-menu li:nth-child(1) a {
  color: #f6490d;
}

.header-menu li:nth-child(1) a:hover {
  color: #faf9f0;
}

.header-menu a:hover {
  color: #f6490d;
}

.main-navigation.portfolio-navigation {
  width: auto;
  margin-top: 52px;
}

/* section-1 */
.section-1 {
  width: 100%;
  height: 100%;
}

.hero-box {
  width: 689px;
  margin-bottom: 36px;
}

.hero-content {
  display: flex;
  justify-content: center;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 689px;
  margin: 0;
}

.hero-text {
  font-family: "Fira Code", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 35.28px;
  color: #faf9f0;
  margin-bottom: 36px;
}

.hero-title {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-style: italic;
  font-weight: 700;
  line-height: 76.07px;
  color: #faf9f0;
}

.hero-social a img {
  width: 39.63px;
  height: 39.63px;
  margin-right: 22px;
}

.hero-social {
  margin-bottom: 262px;
}

/* section 2 */

.section-2 {
  width: 100%;
  height: 100%;
}

.featured-content {
  display: flex;
  flex-wrap: wrap;
}

.featured-content .img-box {
  width: 500px;
  height: 500px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.featured-content .img-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.section-2-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-2-box h1 {
  font-family: "Fira Code", "sans-serif";
  font-size: 36px;
  font-weight: 700;
  line-height: 47.23px;
  color: #f6490d;
  margin-bottom: 72px;
}

.featured-content {
  display: flex;
  align-items: center;
  gap: 178px;
  margin-bottom: 140px;
}

.featured-content-text {
  color: #faf9f0;
  width: 562px;
  height: 410px;
}

.featured-content-text h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  line-height: 40.57px;
  margin-bottom: 16px;
}

.featured-content-text p {
  font-family: "Fira Code", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.48px;
  margin-bottom: 40px;
}

.featured-content-text ul li {
  font-family: "Fira Code", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  margin-left: 25px;
  list-style-type: disc;
}

.featured-content-text ul {
  margin-bottom: 40px;
}

.featured-content .img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 4px;
}

.myBtn {
  border: 2px solid #1dced8;
  background: transparent;
  color: #1dced8;
  padding: 16px 26px;
  cursor: pointer;
}

/* section-3 */

.section-3 {
  width: 100%;
  height: 100%;
}

.playground-box h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 71.5px;
  color: #f6490d;
}

.playground-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 200px;
}

.playground-images img {
  width: 397px;
  height: 397px;
}

/* section-4 */
.section-4 {
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
}

.allRights {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9.78px;
  color: #faf9f0;
}

.allRights img {
  width: 22px;
  height: 22px;
}

/* about hero */

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.about-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 51px;
}

.about-box img {
  margin-bottom: 200px;
}

.about-me h1 {
  color: #f6490d;
  font-family: "Fira Code", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 47.23px;
  margin-bottom: 72px;
}

.about-text {
  width: 1240px;
  height: 90px;
  display: flex;
}

.about-text p {
  font-family: "Fira Code", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.48px;
  color: #faf9f0;
  text-align: center;
}

/* Experience */

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

.experience h1 {
  font-family: "Fira Code", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 47.23px;
  text-align: center;
  color: #f6490d;
  margin-bottom: 72px;
}

.experience-text {
  width: 1240px;
  height: 90px;
  display: flex;
  margin-bottom: 32px;
}

.experience-text p {
  font-family: "Fira Code", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.48px;
  text-align: center;
  color: #faf9f0;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* tools */

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

.tools h1 {
  font-family: "Fira Code", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 47.23px;
  color: #f6490d;
  margin-bottom: 72px;
}

.tools-text {
  width: 1240px;
  height: 90px;
  display: flex;
  margin-bottom: 32px;
}

.tools p {
  font-family: "Fira Code", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.48px;
  text-align: center;
  color: #faf9f0;
}

/* contact */

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;
}

.portfolio-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  position: relative;
}

.portfolio-contact-form input {
  width: 796px;
  height: 52px;
  gap: 24px;
  background: transparent;
  border: 1px solid #faf9f0;
}

.wpcf7-form-control {
  width: 796px;
  height: 125px;
  gap: 24px;
  background: transparent;
  border: 1px solid #faf9f0;
}

.wpcf7-form-control::placeholder {
  padding: 7px 12px;
  font-family: "Fira Code", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 37.4px;
  color: #faf9f0;
}

.portfolio-contact-form input[type="submit"] {
  border: 2px solid #1dced8;
  background: transparent;
  color: #1dced8;
  padding: 16px 26px;
  width: 196px;
  height: 64px;
  font-family: "Fira Code", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 25.74px;
  margin-left: 670px;
  cursor: pointer;
}

.social-box {
  width: 796px;
  height: auto;
  display: flex;
  position: absolute;
  top: 67%;
  gap: 22px;
}

.social-box a {
  width: 39px;
  height: 39px;
}

.social-box a img {
  width: 100%;
  height: 100%;
}
/* single project  */
.single-project-content {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-project-content h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  line-height: 40.57px;
  color: #faf9f0;
  margin-bottom: 20px;
}

.single-project-content p {
  font-family: "Fira Code", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.48px;
  color: #faf9f0;
}

.single-project-content ul {
  font-family: "Fira Code", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: #faf9f0;
  list-style: none;
}

.single-project-content img {
  margin-bottom: 50px;
}

.project-hero-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-style: italic;
  font-weight: 700;
  line-height: 76.07px;
  color: #faf9f0;
  margin-bottom: 30px;
}

/* archive */

.Archive-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-style: italic;
  font-weight: 700;
  line-height: 76.07px;
  color: #faf9f0;
  margin-bottom: 30px;
}

.projects-archive-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.projects-archive-card:nth-child(2n) .projects-archive-card-text {
  order: 1;
}

.projects-archive-card-excerpt {
  font-family: "Fira Code", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.48px;
  color: #faf9f0;
  margin-bottom: 60px;
}

.secondary-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-style: italic;
  font-weight: 700;
  line-height: 76.07px;
  color: #faf9f0;
  margin-bottom: 30px;
}

.project-archive-grid {
  margin-bottom: 200px;
}

/* hamburger menu  + sidebar */

.hamburger-menu {
  color: white;
  font-size: 24px;
  display: none;
}

.hamburger-menu-icon {
  cursor: pointer;
}

#menu {
  display: none;
}

.sidebar-nav {
  position: fixed;
  left: -250px;
  height: 100%;
  background: #0441b163;
  top: 0;
  width: 250px;
  padding: 130px 16px;
  transition: all 300ms;
}

#primary-menu-mobile {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#menu:checked ~ .sidebar-nav {
  left: 0;
}

/* responsive */

@media screen and (max-width: 1023px) {
  .hamburger-menu {
    display: inline-block;
  }
  .header-menu {
    display: none;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
  }

  .featured-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .hero-text {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .hero-title {
    font-size: 50px;
  }
  .header-content {
    margin: 40px;
  }

  .hero-social {
    margin-bottom: 100px;
  }
  .featured-content {
    gap: 120px;
  }

  .Archive-page {
    font-size: 50px;
  }

  .projects-archive-card-text .secondary-title {
    font-size: 40px;
    line-height: 50px;
    margin-left: 5px;
  }

  .projects-archive-card {
    gap: 40px;
    margin-left: 20px;
  }

  .projects-archive-card-excerpt {
    margin-left: 5px;
  }

  .projects-archive-card-text a {
    margin-left: 50px;
  }

  .projects-archive-card-img a > img {
    width: 300px;
    height: 300px;
    margin-bottom: 100px;
  }

  .about-box {
    gap: 30px;
  }
  .about-box img {
    width: 300px;
    height: 300px;
    margin-left: 5px;
  }
  .about-me h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .about-text {
    width: 700px;
  }

  .experience h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .experience-text {
    width: 700px;
    margin-bottom: 100px;
  }

  .tools h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .tools-text {
    width: 700px;
    margin-bottom: 100px;
  }

  .buttons {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio-contact-form input {
    width: 550px;
  }

  .wpcf7-form-control {
    width: 550px;
  }

  .social-box {
    top: 60%;
    left: 14%;
  }
  .portfolio-contact-form input[type="submit"] {
    margin-right: 300px;
    width: 170px;
    height: 55px;
  }
}

@media screen and (min-width: 375px) {
  .hero-title {
    font-size: 40px;
  }
  .hero-text {
    margin-bottom: 20px;
    font-size: 15px;
  }

  .heroSection {
    width: 370px;
  }
  .hero-social {
    margin-bottom: 80px;
  }

  .section-2-box h1 {
    font-size: 30px;
  }
  .featured-content-text {
    width: 380px;
  }
  .featured-content-text h3 {
    font-size: 20px;
    margin-left: 10px;
  }
  .featured-content-text p {
    font-size: 17px;
    line-height: unset;
    margin-left: 15px;
  }

  .featured-content-text ul li {
    font: 15px;
    line-height: unset;
    margin-left: 40px;
  }

  .myBtn {
    margin-left: 110px;
  }

  .featured-content .img-box {
    width: 350px;
    height: 350px;
  }
  .featured-content {
    gap: 50px;
    margin-bottom: 65px;
  }

  .playground-images img {
    width: 350px;
    height: 350px;
  }
  .playground-images {
    margin-bottom: 100px;
  }
  .playground-box h1 {
    margin-bottom: 55px;
  }

  .about-box {
    display: flex;
    flex-direction: column;
  }

  .about-box img {
    margin-bottom: 30px;
  }

  .about-text {
    width: 350px;
    margin-bottom: 50px;
  }

  .experience {
    margin-bottom: 100px;
  }
  .experience-text {
    width: 350px;
    margin-bottom: 250px;
  }

  .buttons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .buttons .myBtn {
    margin-left: 10px;
  }

  .tools-text {
    width: 350px;
    margin-bottom: 230px;
  }

  .portfolio-contact-form input {
    width: 350px;
  }
  .portfolio-contact-form input::placeholder {
    font-size: 16px;
  }

  .wpcf7-form-control{
    width: 350px;
  }
  .wpcf7-form-control::placeholder{
    font-size: 16px;
  }

  .social-box {
    top:60%;
    left: 19%;
  }
  .portfolio-contact-form input[type="submit"] {
    margin-right: 700px;
    margin-top: 65px;
}
.contact-box {
  margin-bottom: 100px;
}
}
